@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "header";
@import "footer";
@import "maps";
@import "mediaqueries";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body
{
    overflow-x: hidden;
    background-color: $rosa_claro;
    
}

.btn-outline-dark{
    margin-bottom: 30px;
    &:hover {
    background-color: $azul_fuente;
    }
}

.parallax {
    background-image: url(../images/2888688.jpg);
    height: 170vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 30px;
	margin-bottom:50px;
    font-size: 1.8rem;
    color: map-get($estilos, color-fuente );
        .inicio{
            background-color: rgba(247, 225, 225, 0.6);
            font-family: $fuente;
        }
        h1{
            font-style: italic;
        }
        h4 {
        font-size: 5vh; 
        font-family: 'Libre Baskerville', serif;
        text-align: center; 
        margin-bottom: 20px;
        font-weight: bolder;
        }
        .parallax__p {
        font-size: 2.8vh; 
        font-style: italic;
        text-align: justify; 
        background-color:rgba(216, 206, 206, 0.6);
        text-transform: capitalize;
        padding: 10px;
        color:$azul_fuente;
        overflow: hidden;
        }   
        .card-index1 {
            @include sizes(350px, 550px);
            font-size: 2.1vh;
            margin-top: 10px;
        }
    }
    

    
.section__aboutus {
    background-image: url(../images/2888688.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15vh;
    padding-top: 15vh;

    img {
        @include sizes(350px, 350px);
        border-radius: 10%;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        font-family: 'Libre Baskerville', serif;
        text-align: center;
        color: $azul_fuente;
        font-size: 3vh;
    }
}

.terapias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Libre Baskerville', serif;
    color: $azul_fuente;
    img {
        @include sizes(450px, 450px);
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        
    }    
}
.album {
    background-image: url(../images/2888688.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.card {
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Libre Baskerville', serif;
    color: $azul_fuente;
}



.form {
    background-image: url(../images/2888688.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Libre Baskerville', serif;
    color: $azul_fuente;
    font-weight: bolder;
}



