@import "header";
@import "footer";
@import "maps";
@import "mediaqueries";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body
{
    overflow-x: hidden;
    background-color: $rosa_claro;
    
}

.parallax {
    background-image: url(../images/2888688.jpg);
    height: 30em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 30px;
	margin-bottom:50px;
    font-size: 2rem;
    color: $azul_fuente;
        h4 {
        font-size: 2rem; 
        font-family: 'Libre Baskerville', serif;
        text-align: center; 
        background-color:rgba(50,50,50,.2);
        padding-top: 20px;
        margin-top: 50px;
        }
        p {
        font-size: 1rem; 
        font-family: 'Libre Baskerville', serif;
        text-align: justify; 
        background-color:rgba(50,50,50,.2);
        text-transform: capitalize;
        padding: 10px;
        color:$azul_fuente;
        overflow: hidden;
    }
}
.section__aboutus {
    background-image: url(../images/2888688.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img {
        height: 60vh;
        width: 60vh;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        font-family: 'Libre Baskerville', serif;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        font-weight: bold;
        color: $azul_fuente;
    }
}
.terapias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Libre Baskerville', serif;
    color: $azul_fuente;
    img {
        height: 450px;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        
    }    
}
.album {
    background-image: url(../images/2888688.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.card {
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Libre Baskerville', serif;
    color: $azul_fuente;
}



.form {
    background-image: url(../images/2888688.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Libre Baskerville', serif;
    color: $azul_fuente;
}


